<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

<title>Lista de Pedidos</title>

<meta name="_csrf_header" content="${_csrf.headerName}"/>
<meta name="_csrf" content="${_csrf.token}"/>
<link href="/webjars/materializecss/0.97.7/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
<link href="/css/hamburgueria.css" type="text/css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
<script type="text/javascript" src="/webjars/jquery/2.2.4/jquery.min.js"></script>
<script src="/webjars/materializecss/0.97.7/js/materialize.min.js"></script>
<link rel="icon" type="image/png" sizes="20x20" th:href="@{/images/logo.png}" />
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div th:if="${!#strings.isEmpty(mensagemCadastro)}">
		<script>
			var $toastContent = $('<span>Pedido cadastrado com Sucesso!</span>');
			Materialize.toast($toastContent, 4000, 'green');
		</script>
	</div>
	<div th:if="${!#strings.isEmpty(mensagemExcluir)}">
		<script>
			var $toastContent = $('<span>Pedido excluído com Sucesso!</span>');
			Materialize.toast($toastContent, 4000, 'orange');
		</script>
	</div>
	<div th:if="${!#strings.isEmpty(mensagemStatus)}">
		<script>
			var $toastContent = $('<span>Status atualizado com Sucesso!</span>');
			Materialize.toast($toastContent, 4000, 'green');
		</script>
	</div>
	<div class="container" style="margin-top: 50px;">
		<div class="row">
			<div class="col s12">
				<div>
					<h3>Lista de Pedidos</h3>
					<div class="col s3"></div>
					<a th:href="@{${'/pedido/lanches_prontos'}}"
						class="waves-effect waves-light btn">
						<strong>Novo</strong>
					</a><br/><br/><br/><br/>
				</div>			
				<div class="card card-container row">
					<div class="container col s12">
						<h5>Lista de Pedidos</h5><br/>
						<table class="highlight">
							<thead>
					        	<tr>
					              <th>Cliente</th>
					              <th>Data</th>
					              <th>Valor</th>
					              <th>Status</th>
					              <th>Ações</th>
					          </tr>
					        </thead>
					        <tbody>
					          <tr th:each="pedido : ${pedidos}">
					            <td>
					            	<span th:if="${pedido.cliente}" th:text="${pedido.cliente.nome}"></span>
					            	<span th:unless="${pedido.cliente}">Sem usuário</span>
					            </td>
					            <td th:text="${pedido.data}"></td>
					            <td th:text="${pedido.preco}"></td>
					            <td th:text="${pedido.status}"></td>
					            <td>
					            	<a th:href="@{${'/pedido/detalhes/' + pedido.id}}" title="Detalhes"
						          		class="btn-floating halfway-fab waves-effect waves-light blue">
						          		<i class="material-icons">visibility</i>
						          	</a>
						          	<a 	th:href="@{${'/pedido/editar_status/' + pedido.id}}" title="Editar Status"
						          		class="btn-floating halfway-fab waves-effect waves-light purple">
						          		<i class="material-icons">exit_to_app</i>
						          	</a>
						          	<a th:if="${pedido.status == T(com.hamburgueria.model.Status).EM_ABERTO ||
						          			#authentication.getPrincipal().getPapel() == T(com.hamburgueria.model.Papel).MASTER ||
						          			#authentication.getPrincipal().getPapel() == T(com.hamburgueria.model.Papel).ADMINISTRADOR}"
						          		th:href="@{${'/pedido/lanches_prontos/editar/' + pedido.id}}" title="Editar"
						          		class="btn-floating halfway-fab waves-effect waves-light orange">
						          		<i class="material-icons">mode_edit</i>
						          	</a>
						          	<a th:if="${pedido.status == T(com.hamburgueria.model.Status).EM_ABERTO || 
						          			#authentication.getPrincipal().getPapel() == T(com.hamburgueria.model.Papel).MASTER ||
						          			#authentication.getPrincipal().getPapel() == T(com.hamburgueria.model.Papel).ADMINISTRADOR}"
						          		th:href="@{${'/pedido/excluir/' + pedido.id}}" title="Excluir"
						          		class="btn-floating halfway-fab waves-effect waves-light red">
						          		<i class="material-icons">delete_forever</i>
						          	</a>
					            </td>
					          </tr>
					        </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="/js/hamburgueria.js"></script>
</body>
</html>