<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Editar</title>
	
	<meta name="_csrf_header" content="${_csrf.headerName}"/>
	<meta name="_csrf" content="${_csrf.token}"/>
	
	<link href="/webjars/materializecss/0.97.7/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
	<link href="/css/hamburgueria.css" type="text/css" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<link rel="icon" type="image/png" sizes="20x20" th:href="@{/images/logo.png}" />
	
	<script type="text/javascript" src="/webjars/jquery/2.2.4/jquery.min.js"></script>
	<script src="/webjars/materializecss/0.97.7/js/materialize.min.js"></script>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="container" style="margin-top: 50px;">
		<div class="row">
			<div class="col s3"></div>
			<div class="col s6">
				<div class="row">
					<h3> Editar </h3>
				</div>
				<div class="row" align="center">
					<img id="logoEmpresa" class="profile-img-card circle"
						th:src="${usuario.foto64}"  width="150" height="150"/>
				</div>
				<div class="row">
					<form method="POST" th:object="${usuario}" th:action="@{/usuario/editar}" enctype="multipart/form-data">
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
						<input th:field="*{id}" type="hidden" value="th:text=${usuario.id}" />
						<input th:field="*{pedidos}" type="hidden" value="th:text=${usuario.pedidos}" />
						<input th:field="*{foto64}" type="hidden" value="th:text=${usuario.foto64}" />
						<input th:field="*{papel}" type="hidden" value="th:text=${usuario.papel}" />
						<input th:field="*{senha}" type="hidden" value="th:text=${usuario.senha}" />
						
						<div class="row">
							<div class="form-group">
		                        <div class="input-field col s12">
		                        	<i class="material-icons prefix">account_circle</i>
		                        	<input id="nome" type="text" class="validate" th:field="*{nome}" th:value="${usuario.nome}" required="true"/>
		                        	<label for="nome" class="active">Nome Completo</label>
		                        </div>
		                	</div>
                    	</div>
                    	<div class="row">
                    		<div class="form-group">
		                        <div class="input-field col s6">
		                        	<i class="material-icons prefix">phone</i>
		                        	<input id="telefone" type="text" class="validate" 
		                        		th:field="*{telefone}" th:value="${usuario.telefone}" required="true"/>
		                        	<label for="telefone" class="active">Telefone</label>
		                        </div>
		                	</div>
		                	<div class="form-group">
		                        <div class="input-field col s6">
		                        	<i class="material-icons prefix">date_range</i>
		                        	<input id="dataNascimento" type="text" class="datepicker" 
		                        		th:field="*{dataNascimento}" th:value="${usuario.dataNascimento}" required="true"/>
		                        	<label for="dataNascimento" class="active">Data de Nascimento</label>
		                        </div>
		                	</div>
                    	</div>
                    	<div class="row">
                    		<div class="form-group">
		                        <div class="input-field col s12">
		                        	<i class="material-icons prefix">email</i>
		                        	<input id="email" type="email" class="validate" 
		                        		th:field="*{email}" th:value="${usuario.email}" required="true"/>
		                        	<label for="email" data-error="Formato Inválido" class="active">Email</label>
		                        </div>
		                	</div>
                    	</div>
                    	<div class="row">
                    		<div class="form-group">
	                    		<div class="input-field col s12">
	                    			<i class="material-icons prefix">location_on</i>
									<select name="idsede" id="idsede" th:field="*{sede}" required="true">
										
										<option th:each="sede : ${sedes}"
				            				th:value="${sede.id}"
				            				th:text="${sede.cidade}">
										</option>
									</select>
									<label>Sede</label>
								</div>
							</div>
                    	</div>
                    	<div class="row">
                    		<div class="form-group">
                    			<div class="file-field input-field col s12">
                    				<div class="waves-effect waves-light btn green">
                    					<i class="material-icons right">file_upload</i>
        								<span>Foto de perfil</span>
        								<input type="file" name="imagem" />
      								</div>
      								<div class="file-path-wrapper">
        								<input class="file-path validate" type="text" />
      								</div>
                    			</div>
                    		</div>
                    	</div>
                    	<div class="row">
                    		<div class="col s1"></div>
                    		<div class="form-group">
	                    		<button class="btn-large waves-effect waves-light col s4" type="submit" name="cadastrar">
	                    			<b>Editar</b>
	    							<i class="material-icons right">send</i>
	  							</button>
	  							<div class="col s2"></div>
	  							<a class="btn-large waves-effect red darken-3 col s4" name="cancelar" 
	  								th:href="@{${'/usuario/meu_perfil/'}}">
	                    			Cancelar
	    							<i class="material-icons right">close</i>
	  							</a>
	  						</div>
  							<div class="col s1"></div>
                    	</div>                    	
					</form>
				</div>
			</div>
			<div class="col s3"></div>
		</div>		
	</div>
	<script type="text/javascript" src="/js/hamburgueria.js"></script>
</body>
</html>