<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>Meu Perfil</title>
	
	<meta name="_csrf_header" content="${_csrf.headerName}"/>
	<meta name="_csrf" content="${_csrf.token}"/>
	
	<link href="/webjars/materializecss/0.97.7/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
	<link href="/css/hamburgueria.css" type="text/css" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<link rel="icon" type="image/png" sizes="20x20" th:href="@{/images/logo.png}" />
	
	<script type="text/javascript" src="/webjars/jquery/2.2.4/jquery.min.js"></script>
	<script src="/webjars/materializecss/0.97.7/js/materialize.min.js"></script>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="container" style="margin-top: 50px;">
		<div class="row">
			<div class="col s3"></div>
			<div class="col s6">
				<div class="row">
					<h3> Perfil </h3>
				</div>
				<div class="row" align="center">
					<img id="logoEmpresa" class="profile-img-card circle"
						th:src="${usuario.foto64}"  width="150" height="150"/>
				</div>
				<div class="row">
					<form th:object="${usuario}" enctype="multipart/form-data">
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />						
						<div class="row">
							<div class="form-group">
		                        <div class="input-field col s12">
		                        	<i class="material-icons prefix">account_circle</i>
		                        	<input id="nome" type="text" class="validate" th:field="*{nome}" 
		                        		 disabled="true"/>
		                        	<label for="nome" class="active">Nome Completo</label>
		                        </div>
		                	</div>
                    	</div>
                    	<div class="row">
                    		<div class="form-group">
		                        <div class="input-field col s6">
		                        	<i class="material-icons prefix">phone</i>
		                        	<input id="telefone" type="text" class="validate" disabled="true"
		                        		th:field="*{telefone}"/>
		                        	<label for="telefone" class="active">Telefone</label>
		                        </div>
		                	</div>
		                	<div class="form-group">
		                        <div class="input-field col s6">
		                        	<i class="material-icons prefix">date_range</i>
		                        	<input id="dataNascimento" type="text" class="datepicker" disabled="true"
		                        		th:field="*{dataNascimento}"/>
		                        	<label for="dataNascimento" class="active">Data de Nascimento</label>
		                        </div>
		                	</div>
                    	</div>
                    	<div class="row">
                    		<div class="form-group">
		                        <div class="input-field col s12">
		                        	<i class="material-icons prefix">email</i>
		                        	<input id="email" type="email" class="validate" disabled="true"
		                        		th:field="*{email}"/>
		                        	<label for="email" data-error="Formato Inválido" class="active">Email</label>
		                        </div>
		                	</div>
                    	</div>
                    	<div class="row">
                    		<div class="form-group">
	                    		<div class="input-field col s12">
	                    			<i class="material-icons prefix">location_on</i>
	                    			<input th:if="${usuario.sede == null}" id="sede" type="text" class="validate" disabled="true"
		                        		value="Você não possui nenhuma sede no momento."/>
									<input th:unless="${usuario.sede == null}" id="sede" type="text" class="validate" disabled="true"
		                        		th:field="*{sede.cidade}"/>
		                        	<label for="sede" class="active">Cidade</label>
								</div>
							</div>
                    	</div>                  	
					</form>
				</div>
				<div class="row">
					<div class="row">
						<div class="col s1"></div>
	                    <a th:href="@{${'/usuario/editar'}}" class="btn-large waves-effect waves-light col s4">
	                    	<b>Editar</b>
	    					<i class="material-icons right">send</i>
	  					</a>
	  					<div class="col s2"></div>
						<a class="btn-large waves-effect waves-light orange col s4" th:href="@{${'/usuario/alterar_senha'}}">
	                    	Alterar Senha
	  					</a>
	  					<div class="col s1"></div>
	  				</div>	  
	  			</div>
  				<div class="col s1"></div>
            </div>  
		</div>
		<div class="col s3"></div>
	</div>		
	<script type="text/javascript" src="/js/hamburgueria.js"></script>
</body>
</html>