<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Administrador</title>

<meta name="_csrf_header" content="${_csrf.headerName}"/>
<meta name="_csrf" content="${_csrf.token}"/>

<script type="text/javascript" src="/webjars/jquery/2.2.4/jquery.min.js"></script>
<script src="/webjars/materializecss/0.97.7/js/materialize.js"></script>

<link rel="icon" type="image/png" sizes="20x20" th:href="@{/images/logo.png}" />
<link href="/webjars/materializecss/0.97.7/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>
<body>
	<div class="container" >
		<div class="row">
			LINKS DE TESTE
			<br/>
			<a th:href="@{/sede/cadastrar}" class="text-info m-l-5"><b>Cadastrar Sede</b></a>
			<br/>
			<a th:href="@{/sede/listar}" class="text-info m-l-5"><b>Listar Sedes</b></a>
			<br/>
			<br/>
			<a th:href="@{/ingrediente/cadastrar}" class="text-info m-l-5"><b>Cadastrar Ingrediente</b></a>
			<br/>
			<a th:href="@{/ingrediente/listar}" class="text-info m-l-5"><b>Listar Ingredientes</b></a>
			<br/>
			<a th:href="@{/usuario/editar}" class="text-info m-l-5"><b>Editar Usuário</b></a>
		</div>
	</div>
</body>
</html>