<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<title>Atendente</title>

<link rel="icon" type="image/png" sizes="20x20" th:href="@{/images/logo.png}" />
<link href="/webjars/materializecss/0.97.7/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
<link href="/css/hamburgueria.css" type="text/css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

<meta name="_csrf_header" content="${_csrf.headerName}"/>
<meta name="_csrf" content="${_csrf.token}"/>

<script type="text/javascript" src="/webjars/jquery/2.2.4/jquery.min.js"></script>
<script src="/webjars/materializecss/0.97.7/js/materialize.js"></script>
</head>
<body>
	<div th:replace="fragments/header :: header"></div>
	<div class="container" >
		<div class="row">
			
		</div>
	</div>
<script type="text/javascript" src="/js/hamburgueria.js"></script>
</body>
</html>